@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-cyberBlack text-white font-sans;
  }
  body {
    @apply min-h-screen;
  }
}

@keyframes glow {
  0%, 100% { text-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493; }
  50%      { text-shadow: 0 0 20px #8a2be2, 0 0 30px #8a2be2; }
}
.animate-glow { animation: glow 2s infinite; }
